.navbar{
    width:100%;
    height:100px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:1rem;
    background-color: var(--darkgrey)
;}
.navbar img{
    width:5rem;
}

.nav-menu{
    display:flex;
}
.nav-item{
    padding:1rem;
}
.hamburger{
    display:flex;
}

@media screen and (width <= 940px){
    .nav-menu{
        position:absolute;
        left:-100%;
    }
}